HIKVISION_NVR_HOST=192.168.86.230
HIKVISION_NVR_USERNAME=admin
HIKVISION_NVR_PASSWORD='your-password'
HIKVISION_NVR_CHANNEL=1
HIKVISION_DOORBELL_HOST=192.168.86.54
HIKVISION_DOORBELL_RTSP_PORT=554
HIKVISION_DOORBELL_HTTP_PORT=80
HIKVISION_DOORBELL_HD_CHANNEL=101
HIKVISION_DOORBELL_SD_CHANNEL=102
HIKVISION_DEFAULT_STREAM=hd
